{% extends 'common/base_full.html' %}
{% block content %}

<p class="title">데이터 카테고리</p>
{% if cate_list %}
<ul class="dataCate-list main on">
    {% for cate in cate_list %}
    <li class="{{ cate.subject }}">{{ cate.value }}</li>
    {% endfor %}
</ul>
{% endif %}

{% for cate in cate_list %}
<ul class="dataCate-list depth {{ cate.subject }}">
    <li class="back">back</li>
    {% for depth in cate_depth_list %}
    {% if cate.id == depth.category_id %}
    <li>
        <a href="{% url 'datalake:home' cate.subject depth.subject %}"></a>
        {{ depth.value }}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endfor %}

<script>
    $('.dataCate-list li').click(function(){
        let selCate = $(this).attr('class');
        if(selCate != 'back'){
            $('.dataCate-list.main').hide();
            $('.dataCate-list.depth').hide();
            $(`.dataCate-list.depth.${selCate}`).fadeIn(200);
        }else{
            $('.dataCate-list.depth').hide();
            $('.dataCate-list.main').fadeIn(200);
        }
    });
</script>

{% endblock %}