{% extends 'common/base_full.html' %}
{% block content %}

<p class="title">나의 프로젝트</p>
<ul class="prj-list">
    <li>
        <p class="tit">KT오<span class="manager">강민선</span></p>
        <div class="info">
            <p class="customer">KT</p>
            <p class="due">2022.05.18 - 2022.05.18</p>
            <p class="entry">조아임, 김수진, 이승헌</p>
        </div>
    </li>
    <li>
        <p class="tit">KT오<span class="manager">강민선</span></p>
        <div class="info">
            <p class="customer">KT</p>
            <p class="due">2022.05.18 - 2022.05.18</p>
            <p class="entry">조아임, 김수진, 이승헌</p>
        </div>
    </li>
    <li>
        <p class="tit">KT오<span class="manager">강민선</span></p>
        <div class="info">
            <p class="customer">KT</p>
            <p class="due">2022.05.18 - 2022.05.18</p>
            <p class="entry">조아임, 김수진, 이승헌</p>
        </div>
    </li>
    <li>
        <p class="tit">KT오<span class="manager">강민선</span></p>
        <div class="info">
            <p class="customer">KT</p>
            <p class="due">2022.05.18 - 2022.05.18</p>
            <p class="entry">조아임, 김수진, 이승헌</p>
        </div>
    </li>
    <li>
        <p class="tit">KT오<span class="manager">강민선</span></p>
        <div class="info">
            <p class="customer">KT</p>
            <p class="due">2022.05.18 - 2022.05.18</p>
            <p class="entry">조아임, 김수진, 이승헌</p>
        </div>
    </li>
</ul>

{% endblock %}