{% extends 'common/base_wide.html' %}
{% block content %}

<div class="detailWrap entity">
    <p class="tit first"><img src="/static/images/icon/ic-quote.png" alt="">{{ entity.subject }}</p>
    <ul class="board-wide-list entity-detail-list">
        <li>
            <p class="subject">대표어</p>        
            <p class="entry">동의어</p>
        </li>
        <li>
            <p class="subject">
                {{ entity.entry }}
            </p>
            <ul class="entry">
                <li>{{ entity.entry }}</li>
                {% for synonym in entity.synonym_set.all %}
                <li>
                    {{ synonym.entry }}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>

{% endblock %}