{% extends 'common/base_wide.html' %}
{% block content %}

<div class="detailWrap intent">
    <p class="tit first"><img src="/static/images/icon/ic-quote.png" alt="">등록예문</p>
    <ul class="list">
        <li>
            <img src="/static/images/icon/ic-text.png" alt="">
            <form action="{% url 'datalake:sentence_create' intent.id %}" method="post"></form>
            <input type="text"/>
            </form>
        </li>
        {% for sentence in intent.sentence_set.all %}
        <li>
            {{ sentence.phrase }}
        </li>
        {% endfor %}
    </ul>
    <p class="tit"><img src="/static/images/icon/ic-quote.png" alt="">응답</p>
    <textarea name="response" value="{{ response.phrase }}" class="txt">{% for response in intent.response_set.all %}{{ response.phrase }}{% endfor %}</textarea>
</div>

{% endblock %}